<% pageTitle = 'Welcome' %>
<!-- Hero Banner (Mountain Background) -->
<div class="hero-banner mb-5">
    <h1>Intex</h1>
    <p>THIS IS A TEST.
        and another test
    </p>

    <div class="mt-4">
        <a href="/register" class="btn btn-primary me-2">Get Started</a>
        <a href="/login" class="btn btn-light text-dark">Login</a>
    </div>
</div>

<!-- Features Section -->
<h1>Intex is here! Get to work!</h1>
