<!-- Hero Banner  -->
<div class="hero-banner mb-5">
    <h1>Intex</h1>
    <% if (typeof error !== 'undefined' && error) { %>
        <div class="alert alert-danger mt-3" role="alert">
            <%= error %>
        </div>
    <% } %>
    <p>THIS IS A TEST.
        test number four (4)
    </p>

    <div class="mt-4">
        <a href="/register" class="btn btn-primary me-2">Get Started</a>
        <a href="/login" class="btn btn-light text-dark">Login</a>
    </div>
</div>

<!-- Features Section -->
<h1>Intex is here! Get to work!</h1>
